<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
      <h1>Currently page on maintance mode..!!</h1>
      <p> Will be back in 20-30 min</p>
  </body>
</html>
